
body {
  padding: 20px;
  background-image: url("./images/filmbg4.png");
}

@font-face {
  font-family: title;
  src: url("./fonts/Championship.ttf");
}

@font-face {
  font-family: name;
  src: url("./fonts/TravelingTypewriter.ttf");
}

@font-face {
  font-family: movie;
  src: url("./fonts/Prisma.ttf");
}

#title {
  font-family: title;
  text-align: center;
}

#name-input-container {
  margin: auto;
}

#names-container {
  padding: 10px;
}

#movie-text {
  font-family: movie;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

#final-submission-container {
  padding: 10px;
}
